---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400;500;700;900&display=swap');
$text-gray: #808080;
$emerald: #005945;
$blueish: #16315B;
$yellowish: #FFB200;

* {
  font-family: 'Roboto', sans-serif;
}

.site-title {
  font-family: 'Abril Fatface', cursive;
}

.banner {
  height: 100vh;
  width: 100%;
  background-image: url("{{site.banner | relative_url }}");
  background-size: cover;
  background-position: center;
}

.site-header {
  border-bottom: 0;
  border-top: 0;
  padding-top: 2rem;
}

.site-title{
  font-size: 2rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .page & {
    text-decoration: none;
  }
}

.site-title, .site-title:visited, .site-header:visited, .site-nav .page-link {
  &:hover, & {
    color: white;
    mix-blend-mode: difference;

    .page.about & {
      color: white;
    }
  }
}

body.home, body.post {
  .site-header {
    position: absolute;
    width: 100%;
    border-bottom: 0;
  }
}


body.post {
  color: $text-gray;
  .post-header {
    margin-bottom: calc(100vw * 0.05);

    .post-title {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .page-content {
    .wrapper {
      width: 70%;
      padding-left: calc(100vw * 0.1);
      padding-right: calc(100vw * 0.1);
    }
  }
  .post-content {
    p img {
      max-width: 100vw;
      width: 100vw;
      margin-left: calc(100vw * -0.15);
      margin-right: calc(100vw * -0.15);
      &:not(:first-child) {
        margin-top: calc(100vw * 0.0125);
      }
      &:not(:last-child) {
        margin-bottom: calc(100vw * 0.0125);
      }
    }
    p {
      margin-bottom: calc(100vw * 0.05);
    }
  }
}

.page-content {
  padding-top: calc(100vw * 0.05);
}

.wrapper {
  width: 90%;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}

.post-list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  gap: calc(100vw * 0.05);
  li {
    display: flex;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    img {

    }
    a {
      color: black;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin-bottom: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      padding: 0;
      text-decoration: none;

      div {
        width: 100%;
        color: white;
        text-shadow: 1px 1px 4px black;
        background: linear-gradient(transparent, rgba(0,0,0,0.7));
        display: flex;
        flex-direction: column;

        h1, .post-meta {
          width: 100%;
          padding-left: calc(100vw * 0.025);
        }

        h1 {
          font-weight: 900;
          font-size: 1.5rem;
          margin-bottom: 0rem;
          padding-top: calc(100vw * 0.025);
          line-height: 1.5rem;
        }
        .post-meta {
          font-size: 0.75rem;
          color: white;
          padding-bottom: calc(100vw * 0.025);
        }
      }
    }
  }
}

.page {
  &.about {
    background-color: $emerald;
    color: white;

    .page-content {
      padding-top: calc(100vw * 0.1);
      a {
        color: white;
        text-decoration: underline;
      }
    }
    .u-email, .p-name {
      color: white;
    }

    .go-top a {
      color: white;
    }
  }
  &.lets-talk {
    @extend .about;
    background-color: $blueish;
  }
  &.random {
    background-color: $yellowish;
    .page-content {
      padding-top: calc(100vw * 0.1);
      a {
        text-decoration: underline;
      }
    }
  }
}

.site-footer {
  border-top: 0px;

  .u-email, .p-name {
    color: $text-gray;
  }
  .footer-col-wrapper {
    display: flex;
    justify-content: space-between;
    &:after {
      content: none;
    }
  }

  .go-top {
    font-size: 2rem;
    a {
      color: $text-gray;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .site-nav {
    top: 24px;
    background-color: transparent;
    border: 0px;

    label[for="nav-trigger"] {
      position: absolute;
      right: 0px;
      z-index: 2;
    }
    input ~ .trigger {
      position: absolute;
      padding-top: 7rem;
      top: calc(-24px - 100vh);
      right: -15px;
      width: calc(100vw);
      height: calc(100vh - 7rem);
      background-color: black;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .page-link {
        font-size: 2rem;
      }
      transition: top .5s ease-in;
    }
    input:checked ~ .trigger {
      position: absolute;
      padding-top: 7rem;
      top: -24px;
      right: -15px;
      width: calc(100vw);
      height: calc(100vh - 7rem);
      background-color: black;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .page-link {
        font-size: 2rem;
      }
      transition: top .5s ease-out;
    }
  }
  .site-title {
    position: absolute;
    top: 9px;
  }

  .site-nav .menu-icon {
    color: white;
    font-size: 2rem;
    mix-blend-mode: difference;
  }

  .footer-col {
    width: auto;
  }
}



@media screen and (min-width: 767px) {
  .site-title {
    font-size: 3rem;
  }

  .post-list {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    li {
      a {
        opacity: 0;
        background: rgba(0,0,0,0.2);
        div {
          background: transparent;
          color: black;
          text-shadow: none;
          .post-meta {
            color: black;
          }
        }
      }
      &:hover {
        a {
          text-decoration: none;
          opacity: 1;
          transition: opacity .75s ease-out;
        }
      }
    }
  }

  body.post {
    .page-content {
      .wrapper {
        width: 50%;
        padding-left: calc(100vw * 0.2);
        padding-right: calc(100vw * 0.2);
      }
    }
    .post-content {
      p img {
        margin-left: calc(100vw * -0.25);
        margin-right: calc(100vw * -0.25);
      }
    }
  }

  body.page {
    .post-content {
      padding-left: calc(100vw * 0.2);
      padding-right: calc(100vw * 0.2);
    }
  }
}