---
---

@import "{{ site.theme }}";
$text-gray: rgb(49, 49, 49);

* {
  font-family: 'Roboto', sans-serif;
}

.site-title {
  font-family: 'Abril Fatface', cursive;
}

.banner {
  height: 100vh;
  width: 100%;
  background-image: url("{{site.banner | relative_url }}");
  background-size: cover;
  background-position: center;
}

body.home, body.post {
  .site-header {
    position: absolute;
    width: 100%;
    border-bottom: 0;
  }
}


body.post {
  .post-header {
    margin-bottom: calc(100vw * 0.05);
  }
  .page-content {
    .wrapper {
      width: 50%;
      padding-left: calc(100vw * 0.2);
      padding-right: calc(100vw * 0.2);
    }
  }
  .post-content {
    p img {
      max-width: 100vw;
      width: 100vw;
      margin-left: calc(100vw * -0.25);
      margin-right: calc(100vw * -0.25);
      &:not(:first-child) {
        margin-top: calc(100vw * 0.0125);
      }
      &:not(:last-child) {
        margin-bottom: calc(100vw * 0.0125);
      }
    }
    p {
      margin-bottom: calc(100vw * 0.05);
    }
  }
}


.site-header {
  border-bottom: 0;
  border-top: 0;
  padding-top: 2rem;
}

.page-content {
  padding-top: calc(100vw * 0.05);
}

.wrapper {
  width: 90%;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}

.post-list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  gap: calc(100vw * 0.05);
  li {
    display: flex;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    img {
      filter: brightness(200%);
    }
    a {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin-bottom: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      padding: 1rem;
      text-decoration: none;

      h1, .post-meta {
        width: 50%;
        margin-left: calc(100vw * 0.025);
      }
      h1 {
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 0rem;
      }
      .post-meta {
        margin-bottom: calc(100vw * 0.025);
      }
    }
  }
}

.site-footer {
  border-top: 0px;

  .u-email, .p-name {
    color: $text-gray;
  }
}

.page.about {
  background-color: #005945;
  color: white;

  .page-content a {
    color: white;
    text-decoration: underline;
  }
  .u-email, .p-name {
    color: white;
  }
}

.site-title{
  font-size: 2rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .page.about &{
    text-decoration: none;
  }
}

.site-title, .site-header:visited, .site-nav .page-link {
  &:hover, & {
    color: white;
    mix-blend-mode: difference;

    .page.about & {
      color: white;
      mix-blend-mode: normal;
    }
  }
}




@media screen and (min-width: 767px) {
  .site-title {
    font-size: 3rem;
  }

  .post-list {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    li {
      img {
        filter: blur(0px);
      }
      a {
        opacity: 0;
      }
      &:hover {
        img {
          filter: blur(10px);
          transition: filter .75s ease-out;
        }
        a {
          text-decoration: none;
          opacity: 1;
          transition: opacity .75s ease-out;
        }
      }
    }
  }
}